* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e7f6ff;
  padding: 5%;
  scroll-behavior: smooth;
  // overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1680px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .headerLeft {
    display: flex;
    align-items: flex-start;

    img {
      margin-right: 10px;
    }

    .headerInfo {
      h3 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
      }

      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9d9d9d;
      }
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      span {
        margin-left: 8px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #5c5c5c;
      }

      a {
        display: flex;
      }
    }
  }
}

.line {
  border: 1px solid #eaeaea;
  width: 100%;
  margin-bottom: 30px;
}

.main {
  // display: none;
  padding: 30px 55px 30px 55px;
  @media (max-width: 640px) {
    padding: 20px;
  }
  @media (max-width: 400px) {
    padding: 0;
  }

  .h1-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width: 555px) {
      justify-content: center;
    }

    h1 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
      @media (max-width: 555px) {
        margin-bottom: 10px;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 5px;
      transition-duration: 0.4s;

      &:hover {
        border-color: #5c5c5c;
        transition-duration: 0.4s;
      }

      img {
        margin: 5px;
        pointer-events: none;
      }

      input {
        border: 0;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        outline: none;
        height: 30px;
      }
    }
  }

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: #f4efe9;
    border-radius: 20px;
    margin-bottom: 50px;
  }
}

.my-purchases,
.my-favourites {
  // display: none;
  padding: 30px 55px 30px 55px;

  .back-h1 {
    display: flex;
    align-items: center;

    button {
      margin-right: 20px;
      width: 32px;
      height: 32px;
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-radius: 8px;
      background: url("../../public/img/arrowL.svg") no-repeat center center;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    button:hover {
      border: 1px solid #d1d1d1;
      transition-duration: 0.3s;
    }

    h1 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
    }
  }
}

.cart {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: #00000080;

  .cart-rightSide-bg {
    position: relative;
    // width: 100%;
    // height: 100%;

    .items {
      min-width: 300px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      right: 0;
      top: 0;
      bottom: 0;
      background: #ffffff;
      box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
      padding: 30px;
      overflow-x: hidden;

      .items-row {
        overflow-y: hidden;
        height: -webkit-fill-available;
        h2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;

          span {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin-bottom: 30px;
          }

          .closeCart {
            cursor: pointer;
            padding: 5px;
            border-radius: 10px;
            font-size: 13px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid gray;
            transition-duration: .3s;

            &:hover {
              background: #ffffff;
              border-color: #9dd558;
              transition-duration: .3s;
              box-shadow: 0 0 10px #dddddd;
            }
          }
          
        }
        .row {
          overflow-x: hidden;
          overflow-y: overlay;
          scroll-behavior: smooth;
          height: 70%;
          padding: 0 5px 0 5px;

          &::-webkit-scrollbar {
            width: 5px;
            background-color: #fcfcfc;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #9dd558;
            border-radius: 5px;
          }

          .col {
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff;
            border: 1px solid #f3f3f3;
            border-radius: 15px;
            padding: 5px;
            margin: 10px 0 10px 0;
            transition-duration: .4s;

            &:hover {
              border: 1px solid #d6d6d600;
              box-shadow: 0 0 15px 4px #0000000f;
              transition-duration: .2s;
            }

            img {
              margin: 5px 10px 5px 0;
              object-fit: cover;
              width: 70px;
              height: 70px;
              object-position: center center;
              border-radius: 5px;
            }

            .col-info {
              h5 {
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
              }

              p {
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
              }
            }

            button {
              margin: 0 5px 0 5px;
              min-width: 32px;
              width: 32px;
              height: 32px;
              background: #ffffff;
              border: 1px solid #f2f2f2;
              border-radius: 8px;
              background: url("../../public/img/plusr.svg") no-repeat center center;
              transition-duration: 0.3s;

              &:hover {
                border: 1px solid #d3d3d3;
              }
            }
          }
        }
      }

      .items-prices {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .price-value,
        .price-nalog {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0;
          div {
            min-width: max-content;
          }
        }
      }
    }
  }
}

.cartEmptyContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .cartEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }

    h5 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.4;
    }

    button {
      margin-top: 15px;
      width: 80%;
      border: 0;
      padding: 15px;
      background: #9DD458;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: .3s;

      span {
        font-family: "Inter", sans-serif;
        font-style: normal;  
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        transition-duration: .3s;

        img {
          transition-duration: .3s;
          transform: rotate(180deg);
          margin-right: 5px;
        }
      }
      &:hover {
        transition-duration: .3s;
        -webkit-box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
        box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
        img {
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}

.w-100 {
  width: 100%!important;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px dotted #00000038;
}

.green-button {
  // &:hover {
  //   box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.05);
  //   transition-duration: 0.3s;
  // }

  // transition-duration: 0.3s;
  // margin-top: 20px;
  // display: flex;
  // position: relative;
  // width: 100%;
  // height: 55px;
  // justify-content: center;
  // align-items: center;
  // background: #9dd558;
  // border-radius: 18px;
  // border: 0;
  // font-family: "Inter";
  // font-style: normal;
  // font-weight: 600;
  // font-size: 16px;
  // line-height: 19px;
  // text-align: center;
  // color: #ffffff;

  // img {
  //   position: absolute;
  //   right: 10%;
  // }

    margin-top: 15px;
    width: 100%;
    border: 0;
    padding: 15px;
    background: #9DD458;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;

    span {
      font-family: "Inter", sans-serif;
      font-style: normal;  
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      transition-duration: .3s;

      img {
        transition-duration: .3s;
        transform: rotate(180deg);
        margin-right: 5px;
      }
    }
    &:hover {
      transition-duration: .3s;
      -webkit-box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
      box-shadow: 0 10px 15px 0 rgba(34, 60, 80, 0.2);
      img {
        margin-right: 20px;
        margin-left: 20px;
      }
    }
}

.main,
.my-purchases,
.my-favourites {
  .row {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .col {
    position: relative;
    margin: 15px;
    width: 210px;
    height: 210px;
    padding: 10px 20px 10px 20px;
    transition-duration: 0.3s;
    padding-bottom: 30px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);


    &:hover {
      background: #ffffff;
      border: 1px solid #f8f8f8;
      box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
      transition-duration: 0.3s;
    }

    img {
      width: 100%;
      height: 120px;
      border-radius: 10px;
      object-fit: cover;
    }


    h4 {
      margin-top: 10px;

      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      text-align: center;
    }

    .col__price {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: space-between;

      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #bdbdbd;
      }

      h5 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }

      .buttons {
        display: flex;

        .favourite-button, .addCart {
          &[disabled] {
            transition-duration: .3s;
            opacity: 0.1!important;
            background: url("../../public/img/loading.gif") no-repeat center center!important;
            background-size: 100% 100%!important;
          }
        }
      }

      .addCart {
        width: 32px;
        height: 32px;
        background: #ffffff;
        // border: 1px solid #f2f2f2;
        border: 1px solid #bebebe;
        opacity: 0.5;
        border-radius: 8px;
        background: url("../../public/img/plus1.svg") no-repeat center center;
        background-size: 100% 100%;
        transition-duration: 0.3s;
        cursor: pointer;
        margin-left: 5px;
        &:hover {
          opacity: 1;
          transition-duration: 0.3s;
        }
      }

      
    }

    .favourite-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../../public/img/heart-fill.svg') no-repeat center center;
      border: 1px solid rgb(190, 190, 190);
      border-radius: 7px;
      transition-duration: 0.3s;
      opacity: 0.5;
      &:hover {
        transition-duration: 0.3s;
        opacity: 1;
      }
    }
  }
}

.buttonCartAdded {
  background-image: url("../../public/img/check.svg")!important;
  background-color: rgb(58, 150, 58)!important;
  background-size: 50% 50%!important;
  opacity: 1!important;
  border: 0!important;
}

.buttonFavouriteAdded {
  background: url("../../public/img/heart-fill-red.svg") no-repeat center center!important;
  background-color: #ff005529 !important;
  background-size: 50%;
  opacity: 1!important;
  border: 0!important;
}

.dataEmpty {
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    $size: 70px;
    width: $size;
    height: $size;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }

  h5 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
  }
}

$wh: 500px;
.photo {
  position: absolute;
  width: $wh!important;
  height: $wh!important;
  z-index: 2;
}